[submodule "plugins/win-dshow/libdshowcapture"]
	path = plugins/win-dshow/libdshowcapture
	url = https://github.com/jp9000/libdshowcapture.git

[submodule "plugins/mac-syphon/syphon-framework"]
	path = plugins/mac-syphon/syphon-framework
	url = https://github.com/palana/Syphon-Framework.git
[submodule "plugins/libftl/ftl-sdk"]
	path = plugins/libftl/ftl-sdk
	url = https://github.com/WatchBeam/ftl-sdk.git
